.nav {
    position: absolute;
    background-color: #2F4136;
    width: 1481px;
    height: 132px;
    top: 0;
    left: 0;
}

.filler {
    margin-bottom: 120px;
}

ul {
    list-style: none;
}

.opt li a {
    float: right;
    padding: 13px 30px;
    margin: 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
}

.left img {
    float: left;
    width: 250px;
    height: 100px;
    display: block;
}

.mtt {
    background-color: #2F4136;
    border-radius: 25px;
    position: absolute;
    width: 1338px;
    height: 103px;
    left: 71px;
}

.mtt h1 {
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-size: 64px;
    margin-top: 15px ;
}

.ariiq {
    box-sizing: border-box;
    background:url(istockphoto-696817108-170667a.jpg);
    position: absolute;
    width: 1481px;
    height: 571px;
}

.ariiq img {
    margin-top:130px ;
}

.ariiq h2 {
    margin-top: 10px;
    line-height: 10px;
}