* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to right, #00b4db, #0083b0);
  }

  .button-box a {
    font-family: sans-serif;
    text-decoration: none;
    color: white;
  }
  
  .login-header {
    font-family: sans-serif;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .login-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-header h2 {
    font-size: 32px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .input-box {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    color: #333;
    background: transparent;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    border-color: #00b4db;
  }
  
  .button-box {
    display: flex;
    justify-content: space-between;
  }
  
  .login-btn,
  .signup-btn {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #00b4db;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signup-btn {
    background-color: #0083b0;
  }
  
  .login-btn:hover,
  .signup-btn:hover {
    background-color: #00a0c4;
  }
  
  @media only screen and (max-width: 768px) {
    .login-box {
      padding: 20px;
    }
    
    .login-header h2 {
      font-size: 24px;
    }
    
    .button-box {
      flex-direction: column;
    }
    
    .login-btn,
    .signup-btn {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  